[submodule "realtime-json"]
  path = realtime-json
  url = https://github.com/goodow/realtime-json.git
[submodule "realtime-operation"]
  path = realtime-operation
  url = https://github.com/goodow/realtime-operation.git
[submodule "realtime-channel"]
  path = realtime-channel
  url = https://github.com/goodow/realtime-channel.git
[submodule "realtime-search"]
  path = realtime-search
  url = https://github.com/goodow/realtime-search.git
[submodule "realtime-store"]
  path = realtime-store
  url = https://github.com/goodow/realtime-store.git

[submodule "realtime-android-playground"]
  path = realtime-android-playground
  url = https://github.com/goodow/realtime-android-playground.git
[submodule "realtime-web-playground"]
  path = realtime-web-playground
  url = https://github.com/goodow/realtime-web-playground.git